*{
    box-sizing: border-box;
}
.body{
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 3000px;
}
.thongbao{
    margin: 0;
}
header{
    width: 75%;   
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.logo{
    margin-left: 60px;
}
.search{
    width: 700px;
    height: 50px;
    padding-top: 15px;
}
.search input{
    width: 500px;
    height: 40px;
    margin-left: 70px;
    border: none;
    outline: none;
    background-color: rgb(222, 222, 222);
    border-radius: 5px;
}
.search button{
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(240, 50, 50);
    border: none;
    border-radius: 5px;
}
.search .fa-search{
    margin-right: 5px;
}
.login{
    width: 200px;
    padding-top: 20px;
    color: rgb(173, 172, 172);
    position: relative;
    cursor: pointer;
    transition: display 2s;
}
.bangdn{
    position: absolute;
    height: 210px;
    width: 250px;
    background-color: white;
    right: 0.3px;
    display: none;
}
.login:hover .bangdn{
    display: block;
}
.bangdn p{
    height: 40px;
    background-color: brown;
    margin: 10px 10px;
    text-align: center;
    line-height: 40px;
}
.login .fa-user{
    float: left;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 10px;

}
.login .fa-sort-down{
    margin-left: 5px;
    margin-top: 2px;
}
.login span{
    margin-top: 5px;
    margin-left: 10px ;
    float: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.login p{
    font-family: Arial, Helvetica, sans-serif;
}
.cart .fa-shopping-cart{
    font-size: 30px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.cart{
    width: 120px;
    padding-top: 20px;
    color: rgb(173, 172, 172);
    cursor: pointer;
}
.cart p{
    margin-top: 10px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.noidung{
    width: 75%;   
    height: 730px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
}
.noidungtrai{
    width: 20%;
    height: 700px;
    position: relative;
    background-color: white;
}
.noidungtrai li:hover:not(.chuan){
    background-color: rgb(235, 234, 234);

}
.noidungtrai li:hover:not(.noidung-item1){
    font-weight: bold;
}
.noidungtrai li:hover p{
    font-weight: lighter;
}
.noidungtrai ul li{ 
    height: 45px;
    line-height: 45px;
    padding-left: 20px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
.noidungtrai .chuan{
    background-color: rgb(75, 75, 75);
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.noidung-item1{
    height: 670px;
    width: 1100px;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 275px;
    justify-content: space-around;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.nd-item1{
    width: 325px;
    margin-left: 30px;
}
.nd-item1 span{
    cursor: pointer;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.nd-item1 p{
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.nd-itemtren{
    display: flex;
}
.nd-itemduoi{
    display: flex;
    margin: 30px 0;
}
.nd-item1 p:hover{
    color: rgb(230, 56, 56);
}
.nd-item1 span:hover{
    color: rgb(230, 56, 56);
}
#linhkien:hover .noidung-item1{
    display: block;
}
.noidung-item-2{
    background-color: white;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 670px;
    width: 1100px;
    position: absolute;
    top: 50px;
    left: 275px;
}
.nd-itemtren2{
    display: flex;
    justify-content: space-around;
}
.nd-itemduoi2{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.nd-item2{
    width: 325px;
    margin-left: 30px;
}
.nd-item2 span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.nd-item2 p{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    line-height: 25px;
}
.nd-item2 span:hover{
    color: rgb(230, 56, 56);
}
.nd-item2 p:hover{
    color: rgb(230, 56, 56);
}
#linhkiencu:hover .noidung-item-2{
    display: block;
}
/*
item3
*/
.noidung-item-3{
    background-color: white;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 670px;
    width: 1100px;
    position: absolute;
    top: 50px;
    left: 275px;
}
.nd-itemtren3{
    display: flex;
    justify-content: space-around;
}
.nd-itemduoi3{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.nd-item3{
    width: 325px;
    margin-left: 30px;
}
.nd-item3 span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.nd-item3 p{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    line-height: 25px;
}
.nd-item3 span:hover{
    color: rgb(230, 56, 56);
}
.nd-item3 p:hover{
    color: rgb(230, 56, 56);
}
#laptop:hover .noidung-item-3{
    display: block;
}
/*
item3
*/
/*
item4
*/
.noidung-item-4{
    background-color: white;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 670px;
    width: 1100px;
    position: absolute;
    top: 50px;
    left: 275px;
}
.nd-itemtren4{
    display: flex;
    justify-content: space-around;
}
.nd-itemduoi4{
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
}
.nd-item4{
    width: 325px;
    margin-left: 30px;
}
.nd-item4 span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.nd-item4 p{
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    line-height: 25px;
}
.nd-item4 span:hover{
    color: rgb(230, 56, 56);
}
.nd-item4 p:hover{
    color: rgb(230, 56, 56);
}
.pcgaming:hover .noidung-item-4{
    display: block;
}
/*
item4
*/
.fa-th{
    margin-right: 10px;
}

.fa-chevron-right{
    margin-left: 20px;
}
.noidungphai{
    width: 79.6%;
    height: 700px;
}
nav ul{
    height: 45px;
    line-height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: rgb(141, 142, 143);
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
}
.noidungchinh{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.noidungphu{
    display: flex;
    justify-content: space-between;
}
.ndp{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
menu{
    width: 75%;
    margin: auto;
    margin-top: 20px;
}

.boxed{
    width: 22%;
    height: 40px;
    background-color: rgb(207, 19, 28);
    position: relative;
}
.boxed::before{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-left: 15px solid rgb(207, 19, 28);
    border-bottom: 20px solid transparent;
}
.boxed p{
    line-height: 40px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.boxedleft{
    background-color: rgb(255, 255, 255);
    width: 78%;
    height: 40px;
}
.view{
    display: flex;
}
